/* You can add global styles to this file, and also import other style files */
/* styles.scss */

/* Full-screen pastel gradient */
body,
html {
  height: 100%;
  margin: 0;
}
body {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  font-family: 'Inter', sans-serif;
  color: #333;
}

.neon {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  animation: neon-flicker 2s infinite;
  letter-spacing: 2px;
}

